<!DOCTYPE html>
<html>

<head>
    <title>CLOSURE.bot</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/gh/otalk/hark@1.2.0/hark.bundle.js"></script>
    <!-- Link to the external JavaScript file -->
    <script src="/static/js/scripts.js" defer></script>
</head>

<body>
    <img src="/static/images/house_fire.GIF" alt="Artwork Image" style="width:50%; max-width:600px;">
    
    <canvas id="audioVisualizer" width="600" height="100"></canvas>
    <h1></h1>
    <img id="conversationButton" src="/static/images/start_conversation_button.GIF" alt="Start Conversation" class="styled-button" onclick="toggleConversation()" style="cursor: pointer;">
    <div id="response_message"></div>
    <div id="indicator"></div>
    <audio id="botAudio" controls></audio>
</body>



</html>
